label {
  font-size: 36px;
  white-space: nowrap;
}

.form-control {
  font-size: 24px;
  
}

form {
  width: 80%;
}

.app {
  background-image: url('wood-pattern-1920x1080.png');
  background-size: cover;
}

.scroll {
  background-image: url("https://www.transparentpng.com/thumb/scroll/vintage-scroll-png-transparent-images-12.png");
  background-size: contain;
  background-color: transparent;
  border: none;
  height: 500px;
  width: 400px; 
  
}